<header>
  <h1>Todo List</h1>
</header>
<div class="todos">
  <form (submit)="addTodo()">
    <input
      class="todo-input"
      placeholder="Enter todo..."
      type="text"
      name="newTodo"
      [(ngModel)]="newTodo"
    />
    <input type="submit" value="Add Todo" class="todo-submit" />
  </form>
  <div
    *ngFor="let todo of todos"
    class="todo {{ todo.completed ? 'done' : '' }}"
  >
    <div class="id">{{ todo.id }}</div>
    <div class="title" (click)="toggleDone(todo.id)">{{ todo.title }}</div>
    <button class="delete" (click)="deleteTodo(todo.id)">Remove</button>
  </div>
</div>
